.bodyVentas{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    height: calc(100% - 70px);
    padding: 15px 0px;
    margin: 15px 20px;
    gap: 15px;
    border-top: 2px solid #bdbfdb77;
}
.headerVentas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-right: 12px;
    
}


.titulosVentas{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.tituloVentas {
    margin: 0px;
    padding: 0px;
    color: #5a60A5;
}

.headerBotonesVentas{
    display: flex;
    flex-direction: row;
    height: 43px;
    gap: 10px
}

.TablaVentas{

    width: 100%;
    height: calc(100% - 80px);
    background-color: white;
}

@media (max-width: 768px) {
    .bodyVentas{
        height: calc(100% - 70px);
    }

    .headerVentas{
        flex-direction: column;
    }

    .headerBotonesVentas{
        width: 100%;
        justify-content: center;
        min-height: 43px;
    }

    .titulosVentas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

   

}