.base {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    scrollbar-gutter: stable;
    height: 100vh;
    position: relative;
}

.headerContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.welcomeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    height: 80vh;
}

.welcomeText {
    font-size: 2.2rem;
    font-weight: bold;
    color: #5a60a5;
    font-family: 'Segoe UI', sans-serif;
}

.subText {
    font-size: 1.2rem;
    color: #333;
    margin-top: 0.5rem;
    font-family: 'Segoe UI', sans-serif;
}
