# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Vite specific
/dist
/vite/

# Logs
logs/
*.log
*.log.*

# Environment files
.env
.env.* 

# Docker files
docker-compose.override.yml
.docker/*
Dockerfile*

# Miscellaneous
.idea/
.vscode/
.DS_Store

# OS-specific files
Thumbs.db
