.base{
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

.filaGraficas{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}