.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    color: white;
}

/* Colores distintivos por rol */
.admin {
    background-color: #5a60a5; /* Azul para Admin */
}

.dependienta {
    background-color: #ffcc00; /* Amarillo para Dependienta */
}

.visitador {
    background-color: #ff5733; /* Naranja para Visitador */
}

.contador {
    background-color: #33cc99; /* Verde para Contador */
}

.usuario {
    background-color: #cccccc; /* Gris para Usuario genérico */
}