/* Fondo general del calendario */
.react-datepicker {
  background-color: #f9f9ff;
  border: 1px solid #5a60a5;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* Color de los días al hacer hover */
.react-datepicker__day:hover {
  background-color: #e1e4ff;
  color: #000;
}

/* Día seleccionado */
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #d3d3f7;
  color: white;
  border-radius: 50%;
}

/* Día de hoy */
.react-datepicker__day--today {
  font-weight: bold;
  color: #545ba3;
}
.datepicker-popup {
  left: 50% !important;
  transform: translateX(-50%);
}

/* Aumentar la altura del encabezado */
.react-datepicker__header {
  height: 10px; /* Ajusta según tu preferencia */
  background-color: #5a60a5; /* O cualquier color de fondo */
  align-items: center;
  
  
}
.react-datepicker-wrapper {
  width: 99%;
  max-width: 300px;
}


/* Cambiar color del texto del mes y año */
.react-datepicker__current-month {
  color: white;
  font-weight: bold;
}

/* Encabezado del mes */
.react-datepicker__header {
  background-color: #5a60a5;
  color: white;
  border-bottom: none;

}

/* Nombres de los días (Lu, Ma, etc.) */
.react-datepicker__day-names {
  background-color: #d3d3f7;
}

/* Flechas para cambiar de mes */
.react-datepicker__navigation-icon::before {
  border-color: white;
}


