.contenedorInput {
    position: relative;
    max-width: 400px;
    width: 100%;
    margin-bottom: 10px;
}


.contenedorInputFile{
    border: dashed #cccccc8e 2px;
    border-radius: 5px;
    padding: 20px;
    color: #767272;
    font-size: 15px;
   

}

.iconoEye{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    color: #ffffff;
    z-index: 10;
}

.inputStylePassword {
    padding: 8px;
    width: 100%;
    max-width: 400px;
    border: 2px solid #cccccc8e;
    background-color: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
}

.inputStyle {
    padding: 8px;
    width: 100%;
    max-width: 400px;
    border: 2px solid #cccccc8e;
    background-color: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 40px;
    color: black;
}


.contenedorInputDate {
    position: relative;
    display: flex;
    max-width: 400px;
    width: 99%;
    border: 2px solid #cccccc8e;
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 10px;
 
}

.inputStyleDate {
       
    padding: 8px;
    width: 100%;
    max-width: 400px;
    min-width: 388px;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 40px;
    color: black;
    z-index: 0;
    
}

.inputStyleDate:focus {
  outline: none;
  box-shadow: 0 0 0 2px #5a60a500; /* reemplazo visual */
}



.inputFileStyle{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    color: #767272;
    transition: background-color 0.3s;
}

.iconoFile{
    font-size: 30px;
   color: inherit;
}


.errorInput{
    position: relative;
    max-width: 400px;
    width: 100%;

    border: 2px solid #d50c0c;
    background-color: #efefef;
    border-radius: 4px;
    box-sizing: border-box;
}

.iconoStyle{
    position: absolute;
    left: 10px;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    color: #5a60a5;
    z-index: 2;
}

.iconoSelects{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    pointer-events: none;
    user-select: none;
    color: #ffffff;
    z-index: 2;
}

.selects {
    position:relative;
    display: inline-block;
    color: black;
    
}

.selects select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: black;
}

.inputStyle option {
    color: black;
 
}

.iconoAbierto {
  transform: translateY(-50%) rotate(180deg);
}



._inputStyleDate_lq3ui_85 {
    
    max-width: 620px;
    border: 2px solid #cccccc3f;
    background-color: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 40px;
    color: black;
}

