.contenedorInput {
    position: relative;
    max-width: 400px;
    width: 100%;
    margin-bottom: 10px;
}

.iconoEye{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    color: #ffffff;
    z-index: 10;
}

.inputStylePassword {
    padding: 8px;
    width: 100%;
    max-width: 400px;
    border: 2px solid #cccccc3f;
    background-color: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;
}

.inputStyle {
    padding: 8px;
    width: 100%;
    max-width: 400px;
    border: 2px solid #cccccc3f;
    background-color: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 40px;
    color: black;
}

.inputStyleDate {
    padding: 8px;
    width: 132%;
    max-width: 400px;
    border: 2px solid #cccccc3f;
    background-color: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 40px;
    color: black;
    
}


.errorInput{
    position: relative;
    max-width: 400px;
    width: 100%;

    border: 2px solid #d50c0c;
    background-color: #efefef;
    border-radius: 4px;
    box-sizing: border-box;
}

.iconoStyle{
    position: absolute;
    left: 10px;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    color: #5a60a5;
    z-index: 2;
}

.iconoSelects{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    pointer-events: none;
    user-select: none;
    color: #ffffff;
    z-index: 2;
}

.selects {
    position:relative;
    display: inline-block;
    color: black;
    
}

.selects select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: black;
}

.inputStyle option {
    color: black;
 
}

.iconoAbierto {
  transform: translateY(-50%) rotate(180deg);
}



._inputStyleDate_lq3ui_85 {
    
    max-width: 620px;
    border: 2px solid #cccccc3f;
    background-color: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 40px;
    color: black;
}

