.divTable {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-gutter: stable;
}

.TableStyle {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}

.inputCantidadWrapper{
  display: flex;
  flex-direction: row;
}

.InputTableFactura{
  display: flex;
  border: none;

  background-color: #e6e7ec89;
  min-width: 40px;
  max-width: 40px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
}

.botonAgregar{
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #5a60a5;
  padding: 15px;
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
}

.botonAgregar:active{
  background-color: #434a93;
  transform: scale(0.98); 

}
.botonAgregar:disabled{
  background-color: #6c72b3ab;
}



.InputTableFactura::-webkit-inner-spin-button,
.InputTableFactura::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.botonCantidadFacturaVenta{
  border: none;
  background-color: transparent;
  color: white;
  padding: 5px;
}
.total{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 

}

.IconStyle2{
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap:5px;
  align-items: center;
  color:#c52e2c;
}

.IconStyle{
  height: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap:5px;
  align-items: center;
  color:#5a60a5;
}

.IconPlusMin{
  color:#5a60a5;
  font-size: 20px;
}

.buttonDeleteTable{
  background-color: transparent;
  border: none;
}


.colEliminar{
  min-width: 50px;
  max-width: 90px;
  color: #ac3e3c;
}
.colArchivo{
  min-width: 70px;
  max-width: 100px;
}
.colIcono {
  min-width: 50px;
  max-width: 90px;
}

.colCreacion {
  min-width: 100px;
  max-width: 200px;
}


.theadStyleFactura .thStyleFactura {
  position: sticky;
  top: 0;
  background-color: #8186c2;
  color: white;

}



.theadStyle .thStyle {
  position: sticky;
  top: 0;
  background-color: #8186c2; /* importante para que no se vea transparente */
  color: white;
  z-index: 2; /* para que quede sobre el contenido */
}

.thStyle {
  background-color: rgba(255, 255, 255, 0.766);
  text-align: left;
  color: black;
  padding: 1rem 0.5rem;
  
  white-space: nowrap;         /* <- Evita que el contenido se quiebre */
  overflow: hidden;            /* <- Oculta el desbordamiento */
  text-overflow: ellipsis;
}


.tdStyle {
  background-color: rgba(255, 255, 255, 0.766);
  padding: 1rem 0.5rem;
  text-align: left;
  padding-left:10px;
  word-break: break-word;
  
}



.rowHover:hover {
  background-color: rgba(104, 124, 183, 0.5);
}

.tbodyStyle .tdStyle {
  position: relative;
}





h3 {
   color:  #5a60a5;
}

.divT{
    margin: 10px;
    width: 95%;
}
