.contenedorOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #5a60A5;
}

.contenedorOptions:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #5a60A5;
    background-color: #5a60A5;
}