.contenedorInput {
    position: relative;
    max-width: 400px;
    width: 100%;
    margin-bottom: 10px;
}

.iconoEye{
    position: absolute;
    right: 40px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    color: #ffffff;
    z-index: 10;
}

.inputStylePassword {
    padding: 8px;
    width: 100%;
    max-width: 400px;
    border: 2px solid #cccccc3f;
    background-color: #efefef;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-left: 40px;
}

.inputStyle {
    padding: 8px;
    width: 100%;
    max-width: 400px;
    border: 2px solid #cccccc3f;
    background-color: #efefef;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-left: 40px;
}

.errorInput{
    padding: 8px;
    width: 100%;
    max-width: 400px;
    border: 2px solid #cccccc3f;
    background-color: #7e1d1d;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-left: 40px;
    color: red;
    margin-top: 10px;
}

.iconoStyle{
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    color: #5a60a5;
    z-index: 2;
}