

.conteinerVisitadores{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: aqua;
}