

.backgound {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Segoe UI';
}


.conteinerVisitadores{
    display: flex;
    flex: 1;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    padding: 30px 0px;

   
}

.tituloC{
 
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.imagenV{
  
    height: 100px;
}

.tituloV{
    max-width: 350px;
    color: #5a60a5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 0px;
    text-align: center;
}

.centrarB{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}