.pantallaCV{
    background-color: transparent;
    width: 100%;    
    display: flex;
    height: calc(100% - 70px);
    flex-direction: column;
    padding-top: 20px;
   
}


.navbarCV {
    width: calc(100% - 20px);
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: end;
    
    background-color: transparent;

}

.contenedorBotonesCV {
    max-width: 450px;
    min-width: 180px;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
  
    background-color: #bdbfdb77;
    border-radius: 16px;
}



.botonCompraOVenta {
  
    max-width: 250px;
    min-width: 80px;
    width: 50%;
    height: 40px;
    cursor: pointer;
    margin: 4px;

    font-size: 1rem;
    color: aliceblue;
    border: none;
    border-radius: 12px;
    background-color: #5a60A5;
    z-index: 2;
    transition: color 0.3s ease, background-color 0.3s ease-in-out;
   
}

.botonCVNoActivo {
    max-width: 250px;
    min-width: 80px;
    width: 50%;
    height: 40px;
    cursor: pointer;
    margin: 4px;

    font-size: 1rem;
    font-weight: 500;
    color: #5a60A5;
 
    border: none;
    border-radius: 25px;
    background-color: transparent;
    
}

.contenidoCV{
    height: calc(100% - 60px);
    background-color: transparent;
  
}

