.tabs-container {
    background-color: #adb0cfa2;
    /* #adb0cfa2 */
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    position: relative;
  
    
    z-index: 10;
}

.tabs-locales {
    display: flex;
    margin-bottom: 1rem;
}

.tab {
    width: 150px;
    margin: 4px 0px 0px 8px;
    padding: 0.50rem;
    text-align: center;
    cursor: pointer;
    background-color: #9195bc;
  
  
    transition: background-color 0.3s;
    font-weight: 500;
    color: #f4f4f5;
    border-radius: 10px 10px 0px 0px; 

    border-bottom: none;
}

.tab.active {
    background-color: white;
    color: #5a60a5;
    font-weight: bold;
    z-index: 2;
    border-bottom: none;
}
