.baseGraficas{
    background-color: rgb(245, 245, 245);
    width: 100%;
    min-height: 200px;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    
}

.emptyRowContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  gap: 10px;

  color: #8789ab;
}

.IconError {
  font-size: 3rem;
  color: #a0a2c9;
}