


.titleFilters {
  width: 100%;
  text-align: center;
  color: #5a60A5;
}



.ordenButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.IconStyle1 {
    cursor: pointer;
    color: #5a60a5;
    height: 20px;

}

.IconStyle {
    cursor: pointer;
    color: #5a60a5;
    padding: 5px;
    height: 20px;
}

.activo {
  color: #ffffff; 
  background-color: #5a60a5;
  padding: 5px;
  border-radius: 5px;

}
